@inject IBananaService BananaService
@implements IDisposable

    <AuthorizeView>
        <Authorized>
            <div class="top-menu">
                <img src="Icons/banana.png" />

                <span class="popover-header">
                    @BananaService.Bananas
                </span>
                <AddBananas />
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                <NavLink href="">Login</NavLink>
                <NavLink href="register">Register</NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    @code {
        //private variable cannot be a paramerter


        protected override void OnInitialized()
        {
            BananaService.OnChange += StateHasChanged;
        }

        public void Dispose()
        {
            BananaService.OnChange -= StateHasChanged;
        }




    }
